[submodule "permit-service"]
	path = permit-service
	url = http://mabuodeh@192.168.60.12:7990/scm/ltrc/permit-service.git
	branch = master
[submodule "workflow-service"]
	path = workflow-service
	url = http://mabuodeh@192.168.60.12:7990/scm/ltrc/workflow-service.git
